.hero {
  min-height: calc(100vh - 600px);
  align-items: center;

  background: radial-gradient(900px 500px at 20% 20%,
      rgba(157, 0, 255, 0.12),
      transparent 60%),
    radial-gradient(700px 420px at 70% 40%,
      rgba(255, 80, 200, 0.10),
      transparent 55%)
}

.hero__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 10rem 0 0 1rem;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 28px;
  align-items: center;
  font-family: "Inter", sans-serif;
  transition: max-width 1s ease-in, gap 1s ease-in;
}

.hero__content {
  color: rgba(255, 255, 255, 0.92);
}

.hero__rest {
  margin: 0 0 10px;
  font-size: clamp(69px, 3.4vw, 94px);
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: -0.02em;
}



.hero__title {
  margin: 0 0 18px;
  font-size: clamp(66px, 4.2vw, 96px);
  line-height: 1.08;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: aliceblue;
  text-decoration: underline #9f04bd dotted;
}

.hero__subtitle {
  margin: 0 0 28px;
  font-size: clamp(22px, 3.2vw, 44px);
  line-height: 1.18;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.hero__actions {
  margin-top: 8px;
}

.hero__visual {
  display: flex;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 6%;
    top: 30%;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: radial-gradient(closest-side,
        rgba(170, 120, 255, 0.18),
        transparent 70%);
    filter: blur(2px);
    pointer-events: none;
  }
}

.hero__img {
  width: min(760px, 50vw);
  height: auto;
  display: block;

  filter: drop-shadow(0 18px 40px rgba(0, 0, 0, 0.45));
  transform: translateY(2px);
}

.hero__img {
  animation: glowPulse 4s ease-in-out infinite;
}

@keyframes glowPulse {

  0%,
  100% {
    filter: drop-shadow(0 20px 50px rgba(168, 85, 247, 0.35));
  }

  50% {
    filter: drop-shadow(0 25px 70px rgba(255, 90, 220, 0.55));
  }
}

@media (max-width: 1120px) {
  .hero__inner {
    grid-template-columns: 1fr;
    gap: 22px;
    padding: 44px 18px;
  }

  .hero__visual {
    justify-content: center;
    order: 2;
  }

  .hero__content {
    order: 1;
  }

  .hero__img {
    width: min(560px, 92vw);
  }
}

@media (min-width: 1400px) {
  .hero__inner {
    max-width: 1550px;
    grid-template-columns: 1.2fr 1fr;
    gap: 120px;
  }

}